<!DOCTYPE html>
<html>

<head>
    <title>Login Form</title>
</head>

<body>
    <h2>Login Page</h2><br>
    <div class="login">
        <form id="login" method="post" action="/">
            <label><b>User Name
                </b>
            </label>
            <input type="text" name="username" id="username" placeholder="Username">
            <br><br>
            <label><b>Password
                </b>
            </label>
            <input type="Password" name="psswd" id="psswd" placeholder="Password">
            <br><br>
            <input type="submit" name="login" id="login" value="Sign In">
            <br><br>
        </form>
    </div>
</body>

</html>